body {
  line-height: 1.5;
}

li {
  margin: 0.25em 0;
}

a {
  color: mediumblue;
  &:hover {
    color: darkblue;
  }
}

.topics {
  $gap: 0.5em;
  color: grey;
  font-size: smaller;
  display: inline-flex;
  gap: $gap;
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: inline;
    margin: 0;
    margin-inline-start: $gap;
  }
  a {
    color: inherit;
    &:hover {
      color: darkslateblue;
    }
    &::before {
      content: '# ';
    }
  }
}
